
app/.vs/app/FileContentIndex/read.lock
app/.vs/app/FileContentIndex/736fc49e-2853-43ac-8e5a-fdb9431b26f4.vsidx
*.vsidx
*.exe
*.xml
*.dll
*._
*.p7s
*.nupkg
*.pdb
*.cache
app/packages/Newtonsoft.Json.12.0.3/LICENSE.md
app/app/obj/Debug/app.csproj.FileListAbsolute.txt
app/packages/System.Collections.4.3.0/ThirdPartyNotices.txt
app/packages/System.Collections.4.3.0/dotnet_library_license.txt
app/packages/System.IO.4.3.0/dotnet_library_license.txt
app/packages/System.IO.4.3.0/ThirdPartyNotices.txt
app/packages/System.Net.Http.4.3.4/dotnet_library_license.txt
app/packages/System.Net.Http.4.3.4/ThirdPartyNotices.txt
app/packages/System.Reflection.TypeExtensions.4.5.1/THIRD-PARTY-NOTICES.TXT
app/packages/System.Reflection.TypeExtensions.4.5.1/LICENSE.TXT
app/packages/System.Reflection.TypeExtensions.4.5.1/version.txt
app/packages/System.Runtime.4.3.0/dotnet_library_license.txt
app/packages/System.Runtime.4.3.0/ThirdPartyNotices.txt
app/packages/System.Security.Cryptography.Algorithms.4.3.0/dotnet_library_license.txt
app/packages/System.Security.Cryptography.Algorithms.4.3.0/ThirdPartyNotices.txt
app/packages/System.Security.Cryptography.Encoding.4.3.0/dotnet_library_license.txt
app/packages/System.Security.Cryptography.Encoding.4.3.0/ThirdPartyNotices.txt
app/packages/System.Security.Cryptography.Primitives.4.3.0/dotnet_library_license.txt
app/packages/System.Security.Cryptography.Primitives.4.3.0/ThirdPartyNotices.txt
app/packages/System.Reflection.TypeExtensions.4.5.1/useSharedDesignerContext.txt
app/packages/System.Security.Cryptography.X509Certificates.4.3.0/dotnet_library_license.txt
app/packages/Newtonsoft.Json.12.0.3/packageIcon.png
app/packages/System.Security.Cryptography.X509Certificates.4.3.0/ThirdPartyNotices.txt
app/app/Properties/AssemblyInfo.cs
app/packages/TweetinviAPI.5.0.4/tools/install.ps1
app/app/obj/Debug/app.csproj.CopyComplete
app/app.sln
app/.vs/app/v17/.suo
DiscordBot/DiscordBot/obj/Debug/DiscordBot.csproj.FileListAbsolute.txt
DiscordBot/DiscordBot/obj/Debug/DiscordBot.csproj.FileListAbsolute.txt
DiscordBot/.vs/DiscordBot/v17/.suo
*.lock
DiscordBot/.vs/DiscordBot/v17/.suo
DiscordBot/DiscordBot/.vs/DiscordBot/v17/.wsuo
DiscordBot/DiscordBot/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DiscordBot/DiscordBot/.vs/VSWorkspaceState.json
DiscordBot/DiscordBot/.vs/slnx.sqlite
DiscordBot/.vs/DiscordBot/v17/.suo
